@model KoLappen.ViewModels.QueueListVM[]
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"


@*Skriver ut kö nr om du är i kö*@
<div id="QueueNr">
    @foreach (var item in Model)
    {
        if (item.IsUserItem)
        {
            @item.QueueNr;
            break;
        }        
    }
</div>

@*Knappar för hjälp eller problemlöst*@
<div id="QueueBtn">
    <form>
      
        @if (Model.Any(o => o.IsUserItem))
        {
            <input type="button" onclick="updateNeedHelp(false)" value="Problem löst" class="btn btn-success" />                
        }
        else
        {
            <input type="button" onclick="updateNeedHelp(true)" value="Hjälp" class="btn btn-success" />
        }
    </form>
</div>

@*Skriver ut för- och efternamn samt hur många minuter man stått i kö*@
<div id="QueueName">
    @foreach (var user in Model)
    {
        if (user.IsUserItem)
        {
            <p style="color:crimson">@user.Firstname @user.Lastname @user.TimeWaitedInMin</p>
        }
        else
        {
            <p>@user.Firstname @user.Lastname @user.TimeWaitedInMin</p>
        }
    }
</div>








@*<script type="text/javascript">
    $("btnDeQueue").click(function () {
        alert("btnDeQueue");
        ;
    });
    $("btnEnQueue").click(function () {
        alert("btnEnQueue");

        updateNeedHelp(true);
    });
</script>*@
