@model KoLappen.ViewModels.QueueListVM[]
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"


@*Skriver ut kö nr om du är i kö*@
<div id="QueueNr">
    @foreach (var item in Model)
    {
        if (item.IsUserItem)
        {
            @item.QueueNr;
            break;
        }
    }
</div>

@*Knappar för hjälp eller problemlöst*@
<div id="QueueBtn">
    <form>
        @if (!User.IsInRole("Admin"))
        {
        @if (Model.Any(o => o.IsUserItem))
        {
            <input type="button" onclick="updateNeedHelp(false)" style="width:130px" value="Problem löst" class="btn btn-success" />
        }
        else
        {
            <input type="button" onclick="updateNeedHelp(true)" style="width:130px" value="Hjälp" class="btn btn-success" />
        }
        }
    </form>
</div>

@*Skriver ut för- och efternamn samt hur många minuter man stått i kö*@
<div id="QueueName">
    <table id="QueueTable">
        <tr>           
            <th>Namn</th>
            <th>Tid (min)</th>
        </tr>
        @foreach (var user in Model)
        {

            if (user.IsUserItem)
            {
                <tr>
                    <td style="color:crimson">@user.Firstname @user.Lastname</td>                    
                    <td style="color:crimson">@user.TimeWaitedInMin</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@user.Firstname @user.Lastname</td>                    
                    <td>@user.TimeWaitedInMin</td>
                </tr>
            }


        }
    </table>
</div>








@*<script type="text/javascript">
        $("btnDeQueue").click(function () {
            alert("btnDeQueue");
            ;
        });
        $("btnEnQueue").click(function () {
            alert("btnEnQueue");

            updateNeedHelp(true);
        });
    </script>*@
