@model KoLappen.ViewModels.AddEducationVM
@addTagHelper"*, Microsoft.AspNet.Mvc.TagHelpers"

@{
    ViewBag.Title = "Lägga till utbildning";
}
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <form asp-controller="Education" asp-action="AddEducation">
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Registrera utbildning</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-10">
                                    <label asp-for="CourseName"></label>
                                    <select class="form-control" data-val="true" data-val-required="V&#xE4;lj kurs." id="CourseName" name="CourseName">
                                        @foreach (var course in Model.Courses)
                                        {
                                            <option value="@course.Value">@course.Text</option>
                                        }
                                    </select>
                                    <br />
                                    <label asp-for="SemesterName"></label>
                                    <select class="form-control" data-val="true" data-val-required="V&#xE4;lj termin." id="SemesterName" name="SemesterName">
                                        @foreach (var semester in Model.Semesters)
                                        {
                                            <option value="@semester.Value">@semester.Text</option>
                                        }
                                    </select>
                                    <br />
                                    <label asp-for="LocationName"></label>
                                    <select class="form-control" data-val="true" data-val-required="V&#xE4;lj stad." id="LocationName" name="LocationName">
                                        @foreach (var location in Model.Locations)
                                        {
                                            <option value="@location.Value">@location.Text</option>
                                        }
                                    </select>
                                    <br />
                                    <button type="submit" value="Education" class="btn btn-success">Registrera utbildning</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form asp-controller="Education" asp-action="AddCourse">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registrera kurs</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10">
                            <label asp-for="CourseName"></label>
                            <input asp-for="CourseName" class="form-control custom" placeholder="Kurs namn" value="T1@test.com" />
                            <input asp-for="SemesterName" type="hidden" class="form-control custom" placeholder="Termin" value="null" />
                            <input asp-for="LocationName" type="hidden" class="form-control custom" placeholder="Stad" value="null" />
                            <span asp-validation-for="CourseName"></span>
                            <br />
                            <button type="submit" value="Education" class="btn btn-success">Registrera kurs</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form asp-controller="Education" asp-action="AddSemester">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registrera Termin</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10">
                            <label asp-for="SemesterName"></label>
                            <input asp-for="SemesterName" class="form-control custom" placeholder="Termin" value="T1@test.com" />
                            <input asp-for="CourseName" type="hidden" class="form-control custom" placeholder="Kurs" value="null" />
                            <input asp-for="LocationName" type="hidden" class="form-control custom" placeholder="Stad" value="null" />

                            <span asp-validation-for="SemesterName"></span>
                            <br />
                            <button type="submit" value="Education" class="btn btn-success">Registrera termin</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form asp-controller="Education" asp-action="AddLocation">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registrera stad</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10">
                            <label asp-for="LocationName"></label>
                            <input asp-for="LocationName" class="form-control custom" placeholder="Stad namn" value="T1@test.com" />
                            <input asp-for="SemesterName" type="hidden" class="form-control custom" placeholder="Termin" value="null" />
                            <input asp-for="CourseName" type="hidden" class="form-control custom" placeholder="Kurs" value="null" />
                            <span asp-validation-for="LocationName"></span>
                            <br />
                            <button type="submit" value="Education" class="btn btn-success">Registrera stad</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
