@model KoLappen.ViewModels.QueListVM[]
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<html>
<head>
<link href="~/css/kolappen.css" rel="stylesheet" />
   
</head>
<body>

    <div class="Kolappen">
        jojojoj
        @*@foreach (var item in collection)
        {

        }*@

    </div>

    <div>
        @foreach (var item in Model)
        {
            if (item.IsUserItem)
            {
                <input type="button" value="Problem löst" class="btn btn-success" onclick="location.href='@Url.Action("NeedHelpFalse", "QuelistController")'" />
                break;
            }
            else
            { 
                <input type="button" value="Hjälp" class="btn btn-success" onclick="location.href='@Url.Action("NeedHelpTrue", "QuelistController")'" />
            }
        }       

    </div>

    <div>
        @foreach (var user in Model)
            {
            <p>@user.Firstname @user.Lastname @user.HelpTime</p>
        }
    </div>
</body>
</html>