@model KoLappen.ViewModels.AdminPostListVM[]
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"


<div>
    @foreach (var item in Model)
    {
        <b>@item.PostedByFirstname @item.PostedByLastname - </b>
        @item.PostText
        if (@item.Link != null)
        {
            <br />
            <a href="@item.Link" target="_blank">@item.Link</a>;
        }
        <br />
        <div style="color: #999999">@item.TimePosted</div>
        <br />
        <br />
    }
</div>

