@model KoLappen.ViewModels.PostListVM[]
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"


<div>
    @foreach (var item in Model)
    {
        <b>@item.PostedByFirstname @item.PostedByLastname</b>
        @Html.Raw(item.PostText)
        if (@item.Link != null)
        {
            <a href="@item.Link" target="_blank">@item.Link</a>
        }
        <div style="color: #999999">@item.TimePosted</div>
        <br />
        <br />
    }
</div>