@model KoLappen.ViewModels.QueListVM[]
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<html>
<head>

</head>
<body>
    <div id="QueNr">
        @foreach (var item in Model)
        {
            if (item.IsUserItem)
            {
                @item.QueNr;
                break;
            }
        }
    </div>

    <div id="QueBtn">
        <form asp-controller="QueList" asp-action="NeedHelpTrueOrFalse">
            @foreach (var item in Model)
            {
                if (item.IsUserItem)
                {       
                    <input type="hidden" name="trueOrFalse" value="false" />
                    <input type="submit" id="btnClick" value="Problem löst" class="btn btn-success" />
                    break;
                }
                else
                {
                    <input type="hidden" name="trueOrFalse" value="true" />
                    <input type="submit" id="btnClick" value="Hjälp" class="btn btn-success" />
                }
            }            
        </form>

    </div>

    <script type="text/javascript">

        $(".td").hover(function () {
            var name = $(this).html();
            $.get("/customer/GetCustomer",
                { "id": name }, function (result) {
                    $("#divResult").html(result);
                });
        });

        //$("#btnClick").click(
        //function ButtonClickHelp() {
        //    $.get("/Quelist/NeedHelpTreuOrFalse", false)
        //    });

        //,
        //function (result) {
        //    $("#divBtn").html(result.length);
        //})

        @*$(document).ready(function () {
            var interval = window.setInterval(function () {
                $.ajax({
                    url: "@Url.Action("JsonData", "Home")",
                    dataType: 'json',
                    success: function (data) {
                        $('#counter').html(data);
                        if (data == 20) { //<-- make sure data has value 20 and is not an object or anything
                            window.clearInterval(interval);
                        }
                    }
                });
            }, 1000); //<-- Give interval in milliseconds here
        });*@

    </script>

    <div id="QueName">
        @foreach (var user in Model)
            {
            <p>@user.Firstname @user.Lastname @user.HelpTime</p>
        }
    </div>
</body>
</html>