@using KoLappen.ViewModels
@model ProfileVM
<div id="mainScrollable">
    <div class="col-md-1 col-md-offset-4"></div>
    <div class="container col-md-3">
        <div class="avatar-flip">
            <img src="@Model.Image" height="150" width="150">
            <img src="http://i1112.photobucket.com/albums/k497/animalsbeingdicks/abd-3-12-2015.gif~original" height="150" width="150">
        </div>
        <h2>@Model.Name @Model.LastName</h2>
        <h4>@Model.EducationName @Model.SemesterName</h4>
        <h3>Kontakt</h3>
        <p>Email: @Model.Email</p>
        <p>Telefonnummer: @Model.PhoneNumber</p>
        <h3>Region</h3>
        <ul>
            @foreach (var location in Model.UserJobLocation)
            {
                <li>
                    @location.City
                </li>

            }
        </ul>
    </div>
</div>